.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/static/locations
/src/lib/server/loc_metadata.json
/src/lib/server/userLabel.json

/image_converter/target
/image_converter/conversions

/map_proxy/target
/map_proxy/Config.toml
/map_proxy/config.toml

# Ignore all .sqlite files in the prisma folder
/prisma/*.sqlite
/logs